* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(68, 68, 68);
  background-image: url("../../public/Imgs/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 1rem;
  text-align: center;
}

.site-title {
  font-size: 4rem;
  margin-left: 50px;
}

.reservation-container .row {
  height: 670px;
}

.nav {
  height: 90px;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: fixed;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav li {
  border-radius: 0.8rem;
  height: 3rem;
  width: auto;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.8rem;
}

.nav li.active {
  background-color: rgb(68, 68, 68);
}

.nav li:hover {
  background-color: #555;
  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}

.nav a:hover {
  color: #fff;
}

/* 
.home-title h1 {
  background-color: #000;
  width: 400px;
  display: flex;
  justify-content: center;
} */

.title-logo {
  width: 140px;
  margin-left: 20px;
}

.home-title h1 {
  text-align: center;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 120px;
}

h4 {
  text-align: center;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services-title h1 {
  text-align: center;
  color: #fff;
  margin-top: 120px;
  font-size: 40px;
}

.services-title h3 {
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 5px;
  font-size: 30px;
  color: #fff;
}

.services-title h5 {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

#lasertag-title {
  margin-top: 60px;
  font-size: 30px;
  padding-bottom: 12px;
}

.service-lasertag {
  display: flex;
  justify-content: center;
  padding: 30px 80px 60px 80px;
}

.service-lasertag img {
  width: 800px;
  align-items: center;
  justify-items: center;
  border: 2px solid #fff;
  border-radius: 20px;
}

.service-lasertag div {
  color: #fff;
  font-size: 20px;
  margin: 50px 40px 50px 40px;
}

.line {
  text-align: center !important;
  box-sizing: border-box;
  border-radius: 40px;
  content: "";
  display: block;
  width: 700px;
  height: 4px;
  background: #fff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.about-container h1 {
  margin-top: 120px;
  text-align: center;
  color: #fff;
}

.about-div {
  width: 100%;
  height: 800px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.about-div p {
  color: #fff;
  padding: 10px 50px 10px 50px;
}

.map-container {
  height: 600px;
  width: 700px;
}

.about-content {
  display: block;
  font-size: 20px;
}

.reservation-container {
  margin: auto;
  margin-top: 20px;
  border: solid 9px #555;
  margin-bottom: 40px;
  border-radius: 45px;
  width: 80%;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  box-shadow: 20px;
  opacity: 100%;
}

.phoneNumber {
  margin: auto;
  width: 29vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-sm-6 h6 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.signup-container {
  margin: auto;
  border: solid 9px #555;
  margin-bottom: 40px;
  border-radius: 45px;
  width: 30%;
  height: 700px;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  box-shadow: 20px;
  opacity: 100%;
}

.login {
  height: 575px;
  display: grid;
  justify-content: center;
  padding-top: 15%;
}

.form form {
  width: 42vh;
  padding-top: 15px;
}

.form input {
  height: 6vh;
  border: solid 1px #333;
}

.form button {
  background-color: #262affa1;
  color: #fff;
  border: solid 2px;
  border-radius: 20px;
  height: 5vh;
}

.form button:hover {
  background-color: rgb(172, 65, 225);
  transition: ease-in-out;
  transition-duration: 0.3s;
  scale: 1.008;
}

.reservation-form {
  width: 100%;
}

.phoneNumber{
  width: 30vh;
}

.col-6 {
  border-left: 7px #555;
  border-left-style: solid;
}

.login h3 {
  margin-bottom: 5px;
  vertical-align: bottom;
}

.login button {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 22ch;
}

.login li {
  list-style: none;
  margin-top: 15px;
}

.login a {
  color: #a22683bd;
  font-weight: 600;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}

.login a:hover {
  color: #262affa1;
}

.choice{
  margin-top: 40px;
}

.choice label {
  padding: 5px 15px 5px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.choice input {
  scale: 2;
  margin: 0px 12px 0px 0px;
  vertical-align: middle;
}

.col-sm-6 {
  display: grid;
  justify-content: center;
}

.submit-button{
  margin-top: 60px;
}